Source: passerelle-imio-ia-tech
Maintainer: Christophe Boulanger <christophe.boulanger@imio.be>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9), python-django
Standards-Version: 3.9.1

Package: python-passerelle-imio-ia-tech
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Passerelle connector to ATAL
